
<nav class="navbar navbar-expand-sm" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="logo">
      <a class="navbar-brand" routerLink="/"
        ><img
          src="../../../../assets/icons/logo.png"
          alt="logo"
          style="width: 30px; height: 30px"
      /></a>
    </div>

    <div class="searchbarCont">
      <div class="searchbar">
        <!-- ! SEARCHBAR -->
        <!-- <shared-search-bar
          barPlaceholder="Search for a City..."
          class="shared-search-bar"
          #city
          (keyup.enter)="searchByCity(city.onValue)"
        ></shared-search-bar> -->
        <input
          class="shared-search-bar"
          type="text"
          #txtSearchInput
          placeholder="Search for a City..."
          #city
          (keyup.enter)="searchByCity(city.value)"
        />
      </div>
    </div>
   
    <div class="navCont" id="navbarNavDropdown">
      <button class="hamburger" (click)="toggleMenu()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>
      <ul class="navbar-nav menu" [class.show]="isMenuOpen">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/about-page"
            routerLinkActive="active"
          >
            <img
              src="../../../../assets/icons/info-button.svg"
              alt=""
              style="height: 30px; width: 30px"
            />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team" routerLinkActive="active">
            <img
              src="../../../../assets/icons/multiple-users-silhouette.svg"
              alt=""
              style="height: 30px; width: 30px"
            />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/app-tech-page"
            routerLinkActive="active"
          >
            <img
              src="../../../../assets/icons/technology.svg"
              alt=""
              style="height: 30px; width: 30px"
            />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact-page"
            routerLinkActive="active"
          >
            <img
              src="../../../../assets/icons/customer-service.svg"
              alt=""
              style="height: 30px; width: 30px"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
