<!DOCTYPE html>
<html>
  <body>
    <nav-bar-page></nav-bar-page>
    <div class="infocard">
      <br />
      <h1 style="color: white; text-align: center">Team</h1>
      <br />

      <div class="teamscont">
        <div class="teamnames">
          <h2>Daniel Ramos</h2>
          <img
            src="assets/icons/developer.png"
            alt="Daniel"
            style="width: 150px; height: 100px"
          />
          <p>Front-end</p>
          <a href="mailto:ramosdarc-18@outlook.com">Email me</a>
          <br />
          <br />
          <button class="teaminfobutton"> <a target="_blank" href="https://github.com/ramosjr18">Info</a> </button>
        </div>
        <div class="teamnames">
          <h2>Miguel</h2>
          <img
            src="assets/icons/developer.png"
            alt="Miguel"
            style="width: 150px; height: 100px"
          />
          <p>Design/Dev</p>
          <a href="mailto:minesto23@gmail.com">Email me</a>
          <br />
          <br />
          <button class="teaminfobutton"> <a target="_blank" href="">Info</a> </button>
        </div>
        <div class="teamnames">
          <h2>Raghad</h2>
          <img
            src="assets/icons/developer.png"
            alt="Raghad"
            style="width: 150px; height: 100px"
          />
          <p>Front-end</p>
          <a href="mailto:raghad_merie@yahoo.com">Email me</a>
          <br />
          <br />
          <button class="teaminfobutton"> <a target="_blank" href="https://github.com/raghadmerie">Info</a> </button>
        </div>
        <div class="teamnames">
          <h2>John</h2>
          <img
            src="assets/icons/developer.png"
            alt="John"
            style="width: 150px; height: 100px"
          />
          <p>Front-end</p>
          <a href="mailto:john.velez@ue-germany.de">Email me</a>
          <br />
          <br />
          <button class="teaminfobutton"> <a target="_blank" href="https://github.com/sebas524">Info</a> </button>
        </div>
      </div>

      <div class="teamscont">
        <div class="teamnames">
          <h2>Zhengjian</h2>
          <img
            src="assets/icons/developer.png"
            alt="Zhengjian"
            style="width: 150px; height: 100px"
          />
          <p>Back-end Dev</p>
          <a href="mailto:1528407679@qq.com">Email me</a>
          <br />
          <br />
          <button class="teaminfobutton"> <a target="_blank" href="https://github.com/ZhengjianQu/">Info</a> </button>
        </div>
        <div class="teamnames">
          <h2>Samuel</h2>
          <img
            src="assets/icons/developer.png"
            alt="Samuel"
            style="width: 150px; height: 100px"
          />
          <p>
            Back-end Dev
          </p>
          <a href="mailto:spantoja0208@gmail.com">Email me</a>
          <br />
          <br />
          <button class="teaminfobutton"> <a target="_blank" href="">Info</a> </button>
        </div>
        <div class="teamnames">
          <h2>Anushka</h2>
          <img
            src="assets/icons/developer.png"
            alt="Anushka"
            style="width: 150px; height: 100px"
          />
          <p>Front-end</p>
          <a href="mailto:anushka22903@gmail.com">Email me</a>
          <br />
          <br />
          <button class="teaminfobutton"> <a target="_blank" href="">Info</a> </button>
        </div>
        <div class="teamnames">
          <h2>Alejandro</h2>
          <img
            src="assets/icons/developer.png"
            alt="Alejandro"
            style="width: 150px; height: 100px"
          />
          <p>Tester</p>
          <a href="mailto:Caralepenafiel@gmail.com">Email me</a>
          <br />
          <br />
          <button class="teaminfobutton"> <a target="_blank" href="">Info</a> </button>
        </div>
      </div>

      <div class="teamscont">
        <div class="teamnames">
          <h2>Gustavo</h2>
          <img
            src="assets/icons/developer.png"
            alt="Gustavo"
            style="width: 150px; height: 100px"
          />
          <p>Tester</p>
          <a href="mailto:gustavo073m@gmail.com">Email me</a>
          <br />
          <br />
          <button class="teaminfobutton"> <a target="_blank" href="">Info</a> </button>
        </div>
        <div class="teamnames">
          <h2>Smit</h2>
          <img
            src="assets/icons/developer.png"
            alt="Smit"
            style="width: 150px; height: 100px"
          />
          <p>Testing</p>
          <a href="mailto:prosmit2707@gmail.com">Email me</a>
          <br />
          <br />
          <button class="teaminfobutton"> <a target="_blank" href="">Info</a> </button>
        </div>
        <div class="teamnames">
          <h2>Jamshed</h2>
          <img
            src="assets/icons/developer.png"
            alt="Jamshed"
            style="width: 150px; height: 100px"
          />
          <p>role</p>
          <a href="mailto:jamshed@gmail.com">Email me</a>
          <br />
          <br />
          <button class="teaminfobutton"> <a target="_blank" href="">Info</a> </button>
        </div>
      </div>
      <br />
    </div>
    <script>
      function clickInfo() {
        window.location.href =
          "https://github.com/ramosjr18/WeatherWebpage/tree/master";
      }
      let buttonOne = document.querySelector(".teaminfobutton");
      buttonOne.addEventListener("click", clickInfo);
    </script>
  </body>
</html>
