<nav-bar-page></nav-bar-page>

<div class="infocardCon">
  <h1 style="color: white; text-align: center; margin-top: 20px; margin-bottom: 5px;">Contact</h1>
  <br />
  <div class="insidecont">
    <div class="formular">
      <form action="mailto:your-email@example.com" method="POST" enctype="text/plain">
  
        <input type="text" id="title" name="title" placeholder="Full Name" required>
        <br>
  
        <input type="email" id="email" name="email" placeholder="Email" required>
        <br>
  
        <textarea id="message" name="message" rows="3" placeholder="Message" required></textarea>
        <br>
  
        <button type="submit">Contact Us</button>
      </form>
    </div>
    <br>
    <div class="guide">
      <h5>
        To send an email to us, please fill out the form above and click "Send". We
      will get back to you as soon as possible! Thank You!
      </h5>
      <img class="imagencon" src="../../../../assets/images/new-york.jpg" alt="">
    </div>
  </div>

</div>