<div class="hourscast">
  <div
    *ngFor="let forecast of fetched5dayWeatherData"
    class="castcard"
    style="max-width: 10rem"
  >
    <div>
      {{ forecast.dt_txt | date : "EEE" }}
      <br />
      <img
        class="forecastimg"
        src="{{ forecast.weather![0].icon | weatherImg }}"
        alt=""
      />
      <h5 *ngIf="isCelcius">{{ forecast.main.temp | number : "1.0-0" }} °C</h5>
      <h5 *ngIf="!isCelcius">{{ forecast.main.temp | toF }} °F</h5>
    </div>
  </div>
</div>
