/* You can add global styles to this file, and also import other style files */

body {
  /* setting a default image and its properties  */
  background-image: url(../src/assets/images/europe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* setting conditions from 0 to 4 to make a changing background depending on the weather  */
.condition0 {
  background-image: url(../src/assets/images/wea/rainy-.jpg);
}

.condition1 {
  background-image: url(../src/assets/images/wea/mist.png);
}

.condition2 {
  background-image: url(../src/assets/images/wea/storm.png);
}

.condition3 {
  background-image: url(../src/assets/images/wea/sunny.png);
}

.condition4 {
  background-image: url(../src/assets/images/wea/cloudy.png);
}

/* info card settings */
.infocard {
  background-color: rgba(0, 0, 0, 0.8);
  width: 93.5%;
  margin: 3%;
  border-radius: 15px;
  color: white;
}

/* navigation bar settings */
.navbar {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.shared-search-bar {
  border-radius: 10px;
  border: none;
  width: 500px;
  height: 40px;
}

/* main container display settings  */
.topcont {
  display: flex;
  width: 100%;
  height: 300px;
}

/* top container display settings  */
.allcont {
  display: flex;
  width: 100%;
  height: 100%;
}

/* top child container for location display settings  */
.currentlocation {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 46.33%;
  color: white;
  padding-top: 6%;
}

/* top child container for map display settings  */
.currentlocationblank {
  width: 40.33%;
}

/* top child container for button display settings  */
.currentbutton {
  padding: 9px;
  display: flex;
  justify-content: end;
  width: 13.33%;
}

/* button settings  */
.currentbutton button {
  width: 50px;
  height: 40px;
  border: none;
  color: white;
}

.buttonleft {
  background-color: #49319D;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.buttonright {
  background-color: rgba(72, 49, 157, 0.2);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


/* current location display settings  */
.currentlocation img {
  width: 40px;
  height: 40px;
}


/* forecast settings  */
.forecast {
  display: flex;
}

.infotitle {
  color: white;
}

/* information boxes for wind, temperature, humidity and visibility settings  */
.sensinfo {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: 400px;
  margin-left: 6%;
}

.sensletter {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #FFFFFF;

}

.sensrow {
  width: 164px;
  height: 164px;
  margin: 5px;
  margin-left: 12px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(72, 49, 157, 0.2);
  border-radius: 22px;
}


/* forecast settings  */
.forecastinfo {
  width: 59%;
  margin-left: 6%;
}

.hourscast {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.castcard {
  background-color: rgba(72, 49, 157, 0.2);
  color: white;
  width: 60px;
  height: 130px;
  margin: 5.5px;
  padding-top: 20px;
  border-radius: 50px;
  text-align: center;
}

.forecastimg {
  width: 39.38px;
  height: 39.38px;
}


/* Team's page settings */

/* main box display settings */
.teamscont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* styles for team members */

.teamnames {
  background-color: #48319dd2;
  color: white;
  width: 200px;
  height: 300px;
  border-radius: 22px;
  margin: 15px;
  text-align: center;
}

.teaminfobutton {
  color: white;
  background-color: #3d2885;
  border-radius: 7px;
}

.title {
  padding-top: 10px;
  padding-bottom: 5px;
}

a {
  color: white;
}

/*  About Page settings */

.center-h2 {
  text-align: center;
}

.img_logo {
  float: right;
  margin-top: 130px;
  margin-left: 40px;
}

/*  Responsive Screens Configuration  */

/* For screens smaller than 600px */
@media (max-width: 600px) {

  .shared-search-bar {
    width: 200px;
  }

  .allcont {
    display: flex;
    flex-direction: column;
  }

  .currentlocationblank {
    display: none;
  }

  .currentlocation {
    width: 100%;
    height: 70%;
  }

  .currentbutton {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
  }

  .forecast {
    display: flex;
    flex-direction: column;
  }

  .sensinfo {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 0px;
  }

  .sensrow {
    margin: 5px;
  }

  .forecastinfo {
    width: 100%;
    margin: 5%;
  }
}

/* For screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
  .shared-search-bar {
    width: 400px;
  }

  .sensrow {
    width: 150px;
    height: 150px;
  }
}

/* For screens larger than 1200px */
@media (min-width: 1200px) {
}